.formBox {
    margin: 50px 20px 20px;
    display: flex;
    background-color: orangered;
  }
  
  .formBox > input {
    flex: 1;
    padding: 7px;
  }

  .formBox > button {
    width: 70px;
    cursor: pointer;
  }

  .textWhite {
    padding-left: 35px;
    color: #fff;
  }