.container.home{
    width: 100vw;
    height: 100vh;
    background-color: #a52a2a;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container.home button {
    width: 120px;
    height: 43px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

.container.about{
    width: 100vw;
    height: 100vh;
    background-color: #ff9900;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container.contact{
    width: 100vw;
    height: 100vh;
    background-color: #7b00ff;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container.service{
    width: 100vw;
    height: 100vh;
    background-color: #ff0059;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container.error{
    width: 100vw;
    height: 100vh;
    color: #fff;
    background-color: #ff0000;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}